* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.another, .title {
  max-width: 1137px;
  padding-top: 26px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .another, .title {
    max-width: 1024px;
  }
}

.another__btn, .check__btn {
  font-size: 1.4rem;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 26px;
  border: 3px solid;
  background-color: transparent;
  padding: 7px 42px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #575756;
  font-size: 1.1rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.75;
  width: 1366px;
  margin: 0 auto;
}

a {
  color: #000000;
  font-weight: 900;
  cursor: pointer;
}

h2 {
  color: #53686c;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0px 20px;
}
.header__container {
  max-width: 1137px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 190px;
}
.header__logo {
  font-size: 3.8rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 560px;
}
.menu li {
  position: relative;
}
.menu__link {
  font-size: 1.9rem;
  text-transform: uppercase;
}
.menu__link:hover {
  color: #53686c;
}
.menu a.parent {
  margin-right: 30px;
}
.menu.menu__icon {
  display: none;
}

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}

.sub-menu__list {
  position: absolute;
  left: 0;
  top: 20px;
  display: none;
  padding-top: 30px;
}
.sub-menu__list .sub-menu__link {
  font-size: 1.3rem;
  display: inline-block;
}
.sub-menu__list .sub-menu__link:hover {
  color: #53686c;
  text-decoration: underline;
  -webkit-text-decoration-color: #53686c;
          text-decoration-color: #53686c;
}

.arrow {
  display: none;
  position: absolute;
  right: 0;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.arrow.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body.touch .arrow {
  display: block;
}

body.touch .sub-menu__list.open {
  display: block;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.check {
  background-image: url(/img/seacost.jpg);
  height: 761px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.check__block_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.check__title {
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  width: 25.5057167986%;
  margin-top: 195px;
  margin-bottom: 7px;
  line-height: 1.2;
}
.check__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 606px;
}
.check__block_subtitle {
  color: #ffffff;
  font-size: 21px;
  font-weight: 600;
  width: 35.1802990325%;
  display: block;
  line-height: 27px;
}
.check__btn {
  color: #ffffff;
  border-color: #ffffff;
}
.check__btn:hover {
  background-color: #ffffff;
  color: #53686c;
}

.title {
  margin-bottom: 93px;
}
.title div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.title p {
  width: 48.3729111697%;
}

.another {
  margin-bottom: 140px;
}
.another__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.another__container img {
  width: 355px;
  height: 265px;
}
.another__container p {
  width: 65.0835532102%;
}
.another .another-text {
  margin-top: 20px;
}
.another__btn {
  color: #627478;
  border-color: #627478;
  font-size: 1.7rem;
  padding: 7px 15px;
  width: 202px;
  padding-top: 3px;
  text-align: center;
  margin: 0 auto;
  margin-top: 57px;
}
.another__btn:hover {
  background-color: #627478;
  color: #ffffff;
}

.btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery img {
  width: 403px;
  height: 403px;
  margin-bottom: 74px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.gallery img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.lightbox__fotos {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.lightbox__fotos_img {
  display: none;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.active,
.demo:hover {
  opacity: 1;
}

.footer {
  background-color: #535353;
}
.footer__container {
  max-width: 1137px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 74px;
}
.footer span {
  color: #fffefe;
}

@media (max-width: 1200px) {
  body {
    max-width: 1200px;
  }

  .header__container {
    max-width: 1024px;
  }

  .menu__link {
    font-size: 1.7rem;
  }
  .menu__list {
    width: 500px;
  }

  .check__title {
    width: 31.6666666667%;
  }
  .check__block {
    padding-left: 435px;
  }
  .check__block_subtitle {
    margin-right: 17px;
    width: 29.1666666667%;
  }

  .another__container p {
    width: 61.6666666667%;
  }

  .gallery {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  body {
    max-width: 1024px;
    font-size: 1.4rem;
  }

  .header {
    max-width: 100%;
  }
  .header .header__container {
    max-width: 950px;
  }

  .menu__list {
    width: 490px;
  }
  .menu__link {
    font-size: 1.8rem;
  }

  .check__block_title {
    display: -ms-grid;
    display: grid;
  }
  .check__title {
    width: 100%;
  }
  .check__block {
    padding-left: 0px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .check__block div {
    margin: 0 auto;
    margin-top: 20px;
  }
  .check__block_subtitle {
    width: 100%;
  }

  .title {
    padding: 20px 25px;
    margin-bottom: 0px;
  }
  .title div {
    display: block;
  }
  .title p {
    margin: 0px 45px 0px 0px;
    width: 100%;
  }

  .another {
    padding: 20px 25px;
  }
  .another__container {
    display: block;
  }
  .another__container img {
    margin-bottom: 25px;
  }
  .another p {
    width: 100%;
  }

  .gallery {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer {
    padding: 0px 25px;
  }
}
@media (max-width: 950px) {
  body {
    max-width: 950px;
    font-size: 1.4rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 25px;
  }

  .header__container {
    padding: 20px 25px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 60px;
    height: 40px;
    cursor: pointer;
  }
  .menu__list {
    display: block;
    width: 220px;
    margin: 0 auto;
    margin-top: 55px;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__link {
    font-size: 3rem;
  }
  .menu .sub-menu__list {
    position: relative;
    top: 0;
  }
  .menu .sub-menu__link {
    font-size: 2.2rem;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }

  .menu__icon::before,
.menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__list > li._active .sub-menu__link {
    display: block;
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .check {
    padding: 20px 25px;
    max-width: 100%;
  }
  .check__title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .check__block {
    padding-left: 0px;
    display: -ms-grid;
    display: grid;
  }
  .check__block_subtitle {
    width: 100%;
    margin-bottom: 30px;
  }

  .title {
    padding: 20px 25px;
    margin-bottom: 25px;
  }

  .another {
    padding: 20px 25px;
    margin-bottom: 50px;
  }
  .another__container {
    display: block;
  }
  .another__container img {
    width: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
  }
  .another p {
    width: 100%;
  }

  .gallery {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .gallery img {
    width: 51%;
    margin-bottom: 35px;
  }

  .footer__container {
    width: 1200px;
    padding: 20px 25px;
  }
}
@media (max-width: 768px) {
  body {
    max-width: 768px;
  }

  .gallery {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .gallery img {
    width: 70%;
    height: 70%;
    margin-bottom: 35px;
  }
}
@media (max-width: 520px) {
  .title, .another {
    max-width: 450px;
  }

  body {
    max-width: 520px;
  }

  .header__container {
    padding: 10px;
  }
  .header__logo {
    font-size: 3rem;
    line-height: 3.8rem;
  }

  .check {
    padding: 10px;
  }
  .check__title {
    font-size: 43px;
  }
  .check__block_subtitle {
    text-align: center;
    font-size: 20px;
  }

  .another__container img {
    width: 355px;
  }
}
@media (max-width: 420px) {
  .title, .another {
    margin: 0;
  }

  .header__container {
    max-width: 400px;
  }

  .menu__body {
    padding: 100px 65px 30px 0px;
  }

  .another__container img {
    width: 100%;
  }

  .gallery {
    margin-top: 30px;
  }
}